*{
  margin: 0;
  padding:10px;
  box-sizing: border-box;
}

body{
  background-color:  #40495c;
}

p{
  font-weight: bold;
  font-size: medium;
}


/* Changing header and paragraph fonts */
.headerText {
  width: fit-content;
  display: inline-block;
  color: white;
  font-family: "Helvetica", Times, sans-serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 200%;
  text-decoration: underline;
  text-decoration-color: #5fc4e2;
  text-align: center;
}


/* Create Task Button Styling */
.createSprintButton{
  background-color: #606d8b; 
  border: 2px solid #5fc4e2;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.3s;
  border-radius: 6px;
}

/* Hover property for the button*/
.createSprintButton:hover{ 
  color: black;
  background-color: #5fc4e2;
  cursor: pointer;
  /* font-weight: bold; */
}

.header{
  position: relative;
  width: 100%;
  height: 20%;
  text-align: center;
  justify-content: center;
}



/* Navigation Bar */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height: 66px;
}

li {
  float: left;
}

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* transition-duration: 0.3s; */
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    text-decoration: underline;
    border-radius: 3px;
  }

.navText{
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 18px;
}

  /* A toggle switch for kanban/chart view */
.toggleButton{
  width: fit-content;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
}

.toggleButton.show{
  opacity: 1;
  pointer-events: auto;
}

.statusText{
  position: relative;
  top: 40%;
}

/* styling label */
.toggle {
  --width: 140px;
  --height: 40px;
  text-align: center;
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;

}


/* Create Task Button Styling */
.createSprintButton{
  background-color: #606d8b; 
  border: 2px solid #5fc4e2;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.3s;
  border-radius: 6px;
}

/* Hover property for the button*/
.createSprintButton:hover{ 
  color: black;
  background-color: #5fc4e2;
  cursor: pointer;
  /* font-weight: bold; */
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: #606d8b; 
  transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked+.slider {
  background-color: #5fc4e2;
}

.toggle input:checked+.slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
  color: transparent;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
}

.toggle .labels:after {
  content: 'Kanban';
  position: absolute;
  right: 30px;
  color: white;
  opacity: 1;
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); */
  transition: all 0.4s ease-in-out;
}

.toggle .labels:before {
  content: 'Chart';
  position: absolute;
  left: 40px;
  color: black;
  opacity: 0;
  /* text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4); */
  transition: all 0.2s ease-in-out;
}

.toggle input:checked~.labels::after {
  opacity: 0;
}

.toggle input:checked~.labels::before {
  opacity: 1;
}



/* Kanban view */
.kanban{

  opacity: 0;
  pointer-events: none;
}

.kanban.show{

  opacity: 1;
  pointer-events: auto;
}

.notStarted{

  display: flex;
  position: absolute;
  width: 30%;
  left: 2.5%;
  border: 1px solid black;
  background: #5fc4e2;
  padding: 25px;
  box-sizing: border-box;
  flex-direction: column;
  height: auto;
  border-radius: 8px;
  align-items: center;
}


.started{

  display: flex;
  position: absolute;
  left: 35%;
  width: 30%;
  border: 1px solid black;
  background: #5fc4e2;
  padding: 25px;
  box-sizing: border-box;
  flex-direction: column;
  height: auto;
  border-radius: 8px;
  align-items: center;
}


.completed{

  display: flex;
  position: absolute;
  right: 2.5%;
  width: 30%;
  border: 1px solid black;
  background: #5fc4e2;
  padding: 25px;
  box-sizing: border-box;
  flex-direction: column;
  height: auto;
  border-radius: 8px;
  align-items: center;
}


h3{
  color: white;
} 

.notStarted{
  display: flex;
  align-items: center;
}

.chartBox {
  opacity: 0;
  pointer-events: none;
  width: 700px;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgba(255, 26, 104, 1);
  background: white;
  display:block;
  margin:0 auto;

}
.chartBox.show{
  opacity: 1;
  pointer-events: auto;
}


/* Task Cards */
.sprintCard{

  border-radius: 3px;
  background-color: lightpink;
  display: flex;
  align-items: center;
  width: 70%;
  height: 130px;
  margin-top: 5px;
  left: 15%;
  flex-direction: column;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4)
}

.sprintCardName{

  width: 100%;
  margin: 0 auto;
  display: flex;
  text-align: center;
  font-size: large;
  font-weight: bold;
  justify-content:space-around
}

.sprintCardButtons{

  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/* Buttons on Sprint Card */
.detailsButton{

  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
}

.leftButton{

  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
}

.rightButton{

  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
}

.editButton{

  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
}


/* Status Text */
.statusField{
  width: 100%;
  display: flex;
  justify-content: center;
}


/* Modal */
.modal_view{
  --gap: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  /* padding: var(--gap); */
  background-color: rgba(0,0,0,0.5);
  /* How we keep it hidden */
  opacity: 0; 
  pointer-events: none;
}

.modal_view.show{
  pointer-events: auto;
  opacity: 1;
}

.modal{

  background-color: white;
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 700px;
  overflow: hidden;
  border-radius: 4px;
}

.modalHeading{
  display:flex;
  align-items: center;
  background-color: #b2e3f1;
  border-radius: 2px;
}

.modalTitle{
  flex-grow:1;
  padding:0;
  font-size: 30px;
  font-weight: bolder;
}

.modalClose{
  display:flex;
  align-items: center;
  cursor: pointer;
  padding: var(--gap);
  background: none;
  border: none;
  outline: none;
}

.viewBody{
  padding: var(--gap);
  display: flex;
  flex-wrap: wrap;
}

.viewBody1, .viewBody2, .viewBody3, .viewBody4, .viewBody5{
  padding: var(--gap);
  display: flex;
  align-items: center;
}

.modalFooter{
  text-align: right;
  padding: 0 var(--gap) var(--gap) var(--gap);
  padding-left: 35%;
  align-content: center;
  margin-top: 30px;
}

h3{
  color: black;
}



/* Not Started View */
.notStartedCard {

  opacity: 0;
  pointer-events: none;
}

.notStartedCard.show{

  opacity: 1;
  pointer-events: auto;
}

.productLog{

  position: absolute;
  left: 2.5%;
  border: 1px solid black;
  background: #5fc4e2;
  padding: 25px;
  box-sizing: border-box;
  flex-direction: column;
  height: auto;
  width: 45%;
  border-radius: 5px;
}

.sprintLog{

  position: absolute;
  right: 2.5%;
  border: 1px solid black;
  background: #5fc4e2;
  padding: 25px;
  box-sizing: border-box;
  flex-direction: column;
  height: auto;
  width: 45%;
  border-radius: 5px;
}


/*Modal Box */
.modal_container{
  --gap: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  /* padding: var(--gap); */
  background-color: rgba(0,0,0,0.5);
  /* How we keep it hidden */
  opacity: 0; 
  pointer-events: none;
}

.modal_container.show{
  pointer-events: auto;
  opacity: 1;
}


.modal{

  background-color: white;
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 700px;
  overflow: hidden;
  border-radius: 4px;
}

.modalHeading{
  display:flex;
  align-items: center;
  background-color: #b2e3f1;
  border-radius: 2px;
}

.modalTitle{
  flex-grow:1;
  padding:0;
  font-size: 30px;
  font-weight: bolder;
}

.modalClose{
  display:flex;
  align-items: center;
  cursor: pointer;
  padding: var(--gap);
  background: none;
  border: none;
  outline: none;
}

.modalBody{
  padding: var(--gap);
  display: flex;
  flex-wrap: wrap;
}

.modalBody1, .modalBody2, .modalBody3, .modalBody4, .modalBody5{
  padding: var(--gap);
  display: flex;
  align-items: center;
}

.modalFooter{
  text-align: right;
  padding: 0 var(--gap) var(--gap) var(--gap);
  padding-left: 35%;
  align-content: center;
  margin-top: 30px;
}

.modalSave{
  display: inline-block;
  padding: 6px 25px;
  background: #5fc4e2;
  border: none;
  outline: none;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
}

.modalSave:hover{
  background: #a0dcee;
}

.modalBody .descriptionInput{
  width: 700px;
  height: 100px;
}

.modal_view{
  --gap: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  /* padding: var(--gap); */
  background-color: rgba(0,0,0,0.5);
  /* How we keep it hidden */
  opacity: 0; 
  pointer-events: none;
}

.modal_view.show{
  pointer-events: auto;
  opacity: 1;
}