*{
    margin: 0;
    padding:10px;
    box-sizing: border-box;
}

body{
    background-color:  #40495c;
}


/* Changing header and paragraph fonts */
h1 {
    color: white;
    font-family: "Helvetica", Times, sans-serif;
    font-style: italic;
    font-size: 200%;
    text-decoration: underline;
    text-decoration-color: #5fc4e2;
    text-align: center
}

h4{
    color: white;
    font-family: "Helvetica", Times, sans-serif;
    font-style: italic;
    font-size: 150%;
    text-align: left
}

.header{
    width: 100%;
    height: 20%;
    text-align: center;
}

.filterButton{
    background-color: #5fc4e2;
    color: black;
    border: 2px solid #5fc4e2;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.3s;
    border-radius: 8px;
}

.filterButton:hover{ 
    color: white;
    background-color: #40495c;
    cursor: pointer;
    /* font-weight: bold; */
}

.filterButton:focus{ 
    color: white;
    background-color: #606d8b;
    cursor: pointer;
    /* font-weight: bold; */
}

/* Navigation Bar */
.navbar {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 66px;
}

li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* transition-duration: 0.3s; */
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    text-decoration: underline;
    border-radius: 3px;
  }

.navText{
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 18px;
}

/* Create Task Button Styling */
.createTask{
    background-color: #606d8b; 
    border: 2px solid #5fc4e2;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.3s;
    border-radius: 6px;
}

/* Hover property for the button*/
.createTask:hover{ 
    color: black;
    background-color: #5fc4e2;
    cursor: pointer;
    /* font-weight: bold; */
}


/* Card */
.card_wrap{
    padding:20px;
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card_wrap .card_item{
    padding: 15px 25px;
    width: 20%;
}

.card_wrap .card_inner{
    background: #5fe2bf;
    border-radius: 5px;
    padding: 35px 25px;
    min-width: 250px;
    max-width: 250px;
    min-height: 100px;
    max-height: 270px;
    width:100%;
}

.card_wrap .card_inner .name{
    font-weight: 1000;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

}

.card_wrap .card_inner .priority{
    font-size: 12px;
    font-family: "Cambria", Times, sans-serif;
    color: red;
}


.card_wrap .card_inner .tag{
    font-size: 12px;
    font-family: "Cambria", Times, sans-serif;
}
.card_wrap .card_inner .storyPoints{
    font-size: 12px;
    font-family: "Cambria", Times, sans-serif;
}

.card_wrap .card_inner .card_foot .editButton{
    opacity: 0;
    pointer-events: none;    
    position: relative;
}

.card_wrap .card_inner .card_foot .deleteButton{
    opacity: 0;
    pointer-events: none;   
    position: relative; 
}

.card_wrap .card_inner .card_foot .viewButton{
    opacity: 0;
    pointer-events: none;    
    position: relative;
}


/* Making Button Appear on Hover */
.card_inner:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
} 

.card_wrap .card_inner .card_foot {

    /* padding: 0; */
    display: flex;
    align-items: center;
}

.card_inner:hover .card_foot .editButton{
    opacity: 100;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
    right: 50px;
    bottom: 228px;
    background: transparent;
    border: none;
    outline: none;
}

.card_inner:hover .card_foot .deleteButton{
    opacity: 100;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
    left: 15px;
    bottom: 228px;
    background: transparent;
    border: none;
    outline: none;
}

.card_inner:hover .card_foot .viewButton{
    opacity: 100;
    pointer-events: auto;
    cursor: pointer;
    position: relative;
    right: 19.5px;
    bottom: 228px;
    background: transparent;
    border: none;
    outline: none;
}


/*Modal Box */
.modal_container{
    /* --gap: 15px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;

    box-sizing: border-box;
    /* padding: var(--gap); */
    background-color: rgba(0,0,0,0.5);
    /* How we keep it hidden */
    opacity: 0; 
    pointer-events: none;
}

.modal_container.show{
    pointer-events: auto;
    opacity: 1;
}


/* .modal{

    background-color: white;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 700px;
    overflow: hidden;
    border-radius: 4px;
} */

.modalHeading{
    display:flex;
    align-items: center;
    background-color: #b2e3f1;
    border-radius: 2px;
}

/* .modalTitle{
    flex-grow:1;
    padding:0;
    font-size: 30px;
    font-weight: bolder;
} */

.modalClose{
    color: white;
    display:flex;
    position: relative;
    left: 70%;
    cursor: pointer;
    padding: var(--gap);
    background: none;
    border: none;
    outline: none;
}

.modalCloseView{
    color: white;
    display:flex;
    cursor: pointer;
    padding: var(--gap);
    background: none;
    border: none;
    outline: none;
}

/* .modalBody{
    padding: var(--gap);
    display: flex;
    flex-wrap: wrap;
} */

/* .modalBody1, .modalBody2, .modalBody3, .modalBody4, .modalBody5{
    padding: var(--gap);
    display: flex;
    align-items: center;
} */

.modalFooter{
    text-align: right;
    padding: 0 var(--gap) var(--gap) var(--gap);
    padding-left: 35%;
    align-content: center;
    margin-top: 30px;
}

.modalSave{
    position: relative;
    top: 237px;
    right: 95px;
    padding: 6px 25px;
    background: transparent;
    border: 1px solid white;
    border-radius: 6px;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.3s;
}

.modalSave:hover{
    background: #5fc4e2;
    border: 1px solid #5fc4e2;
    color: black;
    cursor: pointer;
}

/* .modalBody .descriptionInput{
    width: 700px;
    height: 100px;
} */

.modal_view{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    /* padding: var(--gap); */
    background-color: rgba(0,0,0,0.5);
    /* How we keep it hidden */
    opacity: 0; 
    pointer-events: none;
}

.modal_view.show{
    pointer-events: auto;
    opacity: 1;
}
